body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



header {
    background-color: #000060;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header img {
    height: 60px;
}

header button{
    background-color: #000060;
    color: white;
    font-size: 220%;
    border: none;
}



 #navBar {
    position: fixed;
    right: 0;
    top: 100px;
    width: 0px;
    height: 100vh;
    background-color: #000060;
    font-size: 30px;
    padding-top: 10px;
    line-height: 1.8;
    transition: width 0.7s ease;
    z-index: 99;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.4);
}

#navBar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    width: 100px;
    align-items: center;
}

#navBar a:hover{
    font-weight: bold;
}



main {
    background-color: white;
    color: black;
    position: static;

    min-height: calc(100vh - 100px);
    padding-top: 82px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* dark overlay */
    z-index: 98;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#content {
    margin-top: 18px;
    min-height: calc(100vh - 170px);
    width: 100vw;
}

#content h1 {
    font-size: 280%;
}

#content p {
    font-size: 150%;
    word-wrap: break-word;
}
 




footer {
    background-color: #252525;
    color: rgb(185, 185, 185);
    padding: 10px 30px;
    width: 100vw;

    height: 50px;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
}
